
.headerMessage {
	background-color: #8e9eab;
}

.jumbotron {
	margin-bottom: 0;
}

body { 

	background-color: #F8F9FB ;

}

.newalert {
	height: 40px;
	border-color: red;
}

.cats {
	list-style: none;
}

.head3 {
	text-align: center;
}

.col-6{
	background-color: #dbdbdb; 
	border-radius: 10px;
	text-align: center;
}

.container {
	/*padding-top: 15px;*/
}


.footer {
	padding: 1rem;
	width: 100%;
	text-align: center;
}