

.head3 {
	text-align: center;
}

.col-6{
	margin-top: 130px;
	background-color: #F8F9FA; 
	border-radius: 4px;
	text-align: center;
	margin-bottom: 130px;
}

.formHead {
	padding-top: 5px;
}

.head3 {
	text-align: center;
}

.subButton {
	padding-bottom: 5px;
}


.footer {
	position: sticky;
	padding: 1rem;
	width: 100%;
	text-align: center;
}