
body { 

}

.navbar {
	margin-bottom: 5px;
}

.head3 {
	text-align: center;
}

.col-6{
	background-color: #dbdbdb; 
	border-radius: 5px;
	text-align: center;
}

.container {
	padding-top: 15px;
	padding-bottom: 15px;
}

.head3 {
	text-align: center;
}

.subButton {
	padding-bottom: 5px;
}

.formHead {
	padding-bottom: 5px;
}


.footer {
	/*position: fixed-bottom;*/
	padding: 1rem;
	width: 100%;
	text-align: center;
}